#nav {
    background-color: rgb(247, 204, 125)
}

#narnia {
    position: relative;
    width: 190px;
    padding: 5px;
}

.valor {
    color: red;
}

button {
    border-radius: 10px;
    color: rgb(247, 204, 125);

}
a{
    text-decoration:none;
}
#qnt {
    width: 20%;
}

p {
    padding: 3px;
    text-align:justify;
}